1. What is the output of the following code?

a = np.array([1, 2, 3])
b = np.array([[1], [2], [3]])
print(a + b)

Ans: A

2. Given arr = np.arange(12).reshape(3, 4), which code extracts the subarray [[5, 6], [9, 10]]?
Ans: A

3. Replace all negative values in arr = np.array([-2, -1, 0, 1, 2]) with 0 using a single vectorized operation.

In [1]:
import numpy as np 
arr = np.array([-2, -1, 0, 1, 2])
arr = np.where(arr<0, 0, arr)
print(arr)

[0 0 0 1 2]

4. Aggregation & NaN Handling
Compute the row-wise mean of matrix below, ignoring NaN values:

matrix = np.array([[1, np.nan, 3], [4, 5, np.nan]])

In [5]:
import numpy as np
matrix = np.array([[1, np.nan, 3], [4, 5, np.nan]])
row_mean = np.nanmean(matrix, axis=1)
print(row_mean)

[2.  4.5]

5. What does this code return?

data = np.array([10, 20, 30, 40])
idx = np.array([True, False, True, False])
print(data[idx])

Ans: A

6. DataFrame Creation & Basics
Create a DataFrame df from this dictionary, ensuring the index is [100, 101, 102]:

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}

In [7]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data, index=[100,101,102])

8. Group df by 'Region', then compute the sum of 'Sales' and mean of 'Profit' for each group. Reset the index.

df = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'South'],
    'Sales': [100, 200, 150, 250],
    'Profit': [20, 30, 25, 40]
})

In [9]:
import pandas as pd
df = pd.DataFrame({
        'Region': ['North', 'South', 'North', 'South'],
        'Sales': [100, 200, 150, 250],
        'Profit': [20, 30, 25, 40]})
df.groupby('Region').agg({'Sales':'sum', 'Profit':'mean'}).reset_index()

  Region  Sales  Profit
0  North    250    22.5
1  South    450    35.0

9. Merge orders and customers on 'cust_id', keeping all orders (even if no customer match exists).

orders = pd.DataFrame({'order_id': [1, 2], 'cust_id': [101, 102]})
customers = pd.DataFrame({'cust_id': [101, 103], 'name': ['Alice', 'Bob']})

In [11]:
import pandas as pd
orders = pd.DataFrame({'order_id': [1, 2], 'cust_id': [101, 102]})
customers = pd.DataFrame({'cust_id': [101, 103], 'name': ['Alice', 'Bob']})
merged = pd.merge(orders, customers, on='cust_id', how='outer')
print(merged)

   order_id  cust_id   name
0       1.0      101  Alice
1       2.0      102    NaN
2       NaN      103    Bob